@use "../../styles/_variables.scss" as *;

.container {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100vw;
  box-shadow: $pale-blue 0px 7px 29px 0px;
  height: 70px;
  padding: 5px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #fff;
}

.initials {
  color: $heading-color;
  font-weight: 900;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.navLink, .mobileNavLink {
  color: $light-ocean-blue;
  font-size: 1.5rem;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.mobileNavMenu {
  position: absolute;
  display: none;
  font-size: 1.5rem;
  color: $heading-color;
  top: 25px;
  right: 30px;
  cursor: pointer;
}

.mobileNavContainer, .mobileNavContainerClosed {
  position: relative;
  height: 0px;
  width: 100%;
  background-color: $ocean-blue;
  // z-index: 11;
  animation: expand 0.2s forwards;
  display: none;
  box-shadow: $pale-blue 0px 7px 29px 0px;
}

.mobileNavContainerClosed {
  height: 70px;
  animation: collapse 0.2s forwards;
  display: none;
}

.mobileNavLinks {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  position: relative;
  height: 100%;
}

.mobileNavLink {
  color: #fff;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

@keyframes expand {
  0% {height: 0px; opacity: 0;}
  100% {height: 70px; opacity: 1;}
}

@keyframes collapse {
  0% {height: 70px; opacity: 1;}
  100% {height: 0px; opacity: 0;}
}

@media screen and (max-width: $breakpoint-md) {
  .container {
    justify-content: center;
  }

  .navLinks {
    display: none;
  }

  .mobileNavMenu {
    display: block;
  }

  .mobileNavContainer, .mobileNavContainerClosed {
    display: block;
  }

  .mobileNavLinks {
    display: flex;
  }
}
