@use '../styles/variables' as *;

.container {
  width: 100%;
  position: relative;
  height: calc(100vh - 70px);
  padding: 100px 100px;
  flex: 1;
}

.centerWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.title {
  text-align: center;
  color: $heading-color;
  font-size: clamp(2.2rem, 2.2vw + 1rem, 3rem);
  font-weight: 900;
}

.subtitle {
  text-align: center;
  font-size: clamp(1.2rem, 1.2vw + 0.5rem, 1.5rem);
  font-weight: 400;
  color: $text-dark;
}

.blogList {
  margin-top: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   border: 1px solid red;
  width: 100%;
  gap: 30px;
}

.blogListItem {
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  @include flex-row(15px);
  width: 90%;
  position: relative;
  transition: 0.2s all ease;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    border-color: $heading-color;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.left {
  width: 30%;
  position: relative;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.postImage {
  object-fit: cover;
}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 10px 10px;
}

.postTitle {
  color: $ocean-blue;
  font-size: clamp(1.2rem, 1.2vw + 1rem, 1.7rem);
  font-weight: 700;
}

.postDesc {
  color: $text-dark;
  font-size: clamp(0.5rem, 0.5vw + 1rem, 1.2rem);
}

.postDate {
  color: $text-light;
  margin-top: auto;
}

@media screen and (max-width: $breakpoint-xl) {
  .centerWrapper {
    width: 75%;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .container {
    padding: 50px 50px;
  }

  .centerWrapper {
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .container {
    padding: 50px 50px;
  }

  .blogListItem {
    width: 100%;
  }

  .linkWrapper {
    flex-direction: column;
  }

  .left {
    height: 200px;
    width: 100%;
  }

  .postDate {
    text-align: center;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .container {
    padding: 30px 30px;
  }
}
