@use '../../styles/variables' as *;

.container {
  width: 100%;
  position: relative;
  height: calc(100vh - 70px);
  padding: 100px 100px;
  flex: 1;
}

.postContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.title {
  color: $heading-color;
  font-size: clamp(1.8rem, 1.8vw + 1rem, 3rem);
  font-weight: 900;
}

.body {
  color: $text-dark;
  line-height: 30px;
  padding: 20px 0px;

  h2 {
    margin-bottom: 15px;
    font-size: clamp(1.6rem, 1.6vw + 0.5rem, 2rem);
    font-weight: 700;
  }

  h3 {
    margin-bottom: 15px;
    font-size: clamp(1.4rem, 1.4vw + 0.5rem, 1.8rem);
    font-weight: 600;
  }

  p,
  li {
    margin-bottom: 30px;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.3rem);
  }

  a {
    color: $ocean-blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  border: 1px solid rgb(232, 232, 232);
  margin-bottom: 30px;
}

@media screen and (max-width: $breakpoint-lg) {
  .container {
    padding: 50px 50px;
  }

  .postContainer {
    width: 80%;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .container {
    padding: 50px 30px;
  }

  .postContainer {
    width: 100%;
  }

  .sendButton {
    margin: 0 auto;
    display: block;
  }
}
